    h1 {
        border:solid 2px black;
        font-size: 50pt;
        border-radius: 5px;
        border-color: red ;
    }
    p {
        font-size: 14px;
        border-radius: 5px;
        border-color: blue ;
    }
    a {
        font-size: 1.2em;
    }
    span {
        font-size: 80%;
    }

