<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Show:{{show.id}}</h1>
    <a href="/shows/">Go Back</a>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/EditProcess/{{show.id}}" method="post">
        {%csrf_token%}
    <p style="margin: 30px">Title</p>
    <input type="text" name="title" style="margin-left: 30px;" value="{{show.title}}">
    <div class="input">
    <div ><p>Network</p><input type="text" name="network" value="{{show.network}}"></div>
    <div >
    <p>release Date</p>
    <input type="date" name="date" value={{show.release_date |date:'Y-m-d' }} placeholder="{{show.release_date}}">
    
</div>
</div>
<p style="margin-left: 30px;">Description</p>
    <textarea name="desc"  cols="47" rows="7" style="margin-left: 30px;" value="show.description"></textarea>
    <button type="submit" style="margin-left: 100px; display: block;">Update</button>
</form>
</body>
</html>