<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </thead>
        {%for s in all %}
        <tr>
           <td>{{s.id}}</td>
           <td>{{s.title}}</td>
           <td>{{s.network}}</td>
           <td>{{s.release_date}}</td>
           <td><p><a href="/shows/{{s.id}}">Show</a> | <a href="/shows/{{s.id}}/edit">Edit</a> |<a href="/shows/{{s.id}}/destroy ">Delete</a></p></td>

        </tr>
        {%endfor%}
    </table>
    <a href="/shows/news">Add a New Show</a>
</body>
</html>