<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>ID:{{book.id}}</p>
    <p>Description: {{book.desc}}</p>
    <p>Authors </p>
    <ul>

    {%for a in book.Authors.all%}
        <li>{{a.first_name}} {{a.last_name}} </li>
        {%endfor%}
    </ul>
    
        <form action="/add_book_to_author/{{book.id}}/" method="post">
            {%csrf_token%}
            <select name="author" >
                {%for a in author%}
                {%if a not in book.Authors.all%}
                <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                {%endif%}
                {%endfor%}
            </select>
            <button type="submit">Add</button>
        </form>
    </select>
</body>
</html>