<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

    {% for x in range(0,row1): %}
    <div class="row">
        {%for y in range(0,colum1)%}
        {%if x%2==0%}
        {%if y%2==0%}

        <div class= "white"></div>
        {%endif%}
        {%if y%2==1%}
        <div class= "black"></div>

        {%endif%}
        {%endif%}
        {%if   x%2==1%}
        {%if y%2==0%}

        <div class= "black"></div>
        {%endif%}
        {%if y%2==1%}
        <div class= "white"></div>

        {%endif%}
        {%endif%}
        
        

        {%endfor%}
    </div>
    {%endfor%}
</body>
</html>